article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html.clearRead {
	font-size: 24px;
	font-family: sans-serif;
	background: white;
	margin: 0 auto;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead .wrapper {
	max-width: 800px;
	margin: 0 auto;
}

html.clearRead h1,html.clearRead h2,html.clearRead h3,html.clearRead h4,html.clearRead h5,html.clearRead h6{
	font-family: sans-serif;
	font-size: 4rem;
	background: none;
	color: black;
	text-decoration: none;
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 700;
}

html.clearRead img{
	display: none;
}

html.clearRead p {
	font-family: sans-serif;
	color: black;
	background: none;
	font-size: 1rem;
	text-decoration: none;
	font-style: none;
	font-weight: 400;
	line-height: 2.4;
	letter-spacing: 0;
	text-transform: none;
	margin: 1rem 0;
}

html.clearRead strong {
	font-family: sans-serif;
	background: none;
	font-weight: bold;
	font-style: normal;
	color: black;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead em {
	font-family: sans-serif;
	background: none;
	font-style: italic;
	font-weight: 400;
	color: black;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead span {
	font-family: sans-serif;
	background: none;
	color: black;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead a {
	font-family: sans-serif;
	background: none;
	color: black;
	text-decoration: underline;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead a:hover {
	font-family: sans-serif;
	background: none;
	color: black;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead ol, html.clearRead ul {
	padding: 0;
	padding-left: 2em;
	color: black;
}

html.clearRead ol {
	list-style-type: decimal;
	color: black;
}

html.clearRead ul {
	list-style-type: disc;
	color: black;
}

.clearReadSwitch{
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 64px;
	height: 62px;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAA+CAYAAACbQR1vAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAnBJREFUeNrsWsFxwjAQNIkfeVKCO4g7iFJBXILpgA5iKiCpAOeZF+SXvHAqgFQAHdgdOPKMPMMwIMunO1nCupl9ZISNdu9OdycyCWgt4mAcjxzx2dqR44+j4NgHN2Ypx46jVsSBY84xdZ04E2RqIJpnE1fJZxrEz7FyjfwKkXyLnSspQUG+xZZ68/cIh12m8LmK45vjk+NX/P2g4OFIfObHRs83mysVwjjpODS3CpHAqEhMNEM/lawvFKMjECVwKVk/CmDbh473ZR5LgelUG0Z2BxRAFtYbjhzwzlxEjRN2LW9LhNJ1cCECmMT7laYA7yY9CREglqx9IexpY1KAEPCMLMQxprojQTVgmAJAN49VtjLAczVmCkCjw0rDFiBG6jApU0xbgEKy9oJ0pzBUiinbboA+oNR4J3ofUEjOgFeNjc4lKVDYNglizwJxx3SZUESAjghrRBFYB/mDpsNIBEgUeu11x6keKd4oMSoBoPcBsRiIVA+8/YU2+UmRWDMlzhAEuHZngZ6rNl6MolWBaU/P61gTNc8I0yVaI2SSfGGCfB8BWvIx8X4qkZdGyPfxvOrvfCkw10tRDSIiDuAy2Jd8EKj/BthE1FKUU+q0AgnQh3xG3XSYrgJ9cj4HkmOE5VPrEOxLfhY4bOGA5CsbJrxwQM+3jY4VV2KjCvtzAUZLvhVgOVbyrQDpQOStKYPVGD1/WgU2kiigJG9FGZS1vNB/VXOuFa5EPc5PHni75bC/1AhVgvAoSENvhLwAt1oGR23hgN9t3TRo2qyaBv0h6AXwAngBRmkTgnfWDvFf+BTwAngBvAB+GMI+WR3iX/wLMADz6yp2cI2gCwAAAABJRU5ErkJggg==');
}

/*below are styles for low contrast*/

html.clearRead.lowContrast {
	font-size: 24px;
	font-family: sans-serif;
	background: black;
	margin: 0 auto;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead.lowContrast .wrapper {
	max-width: 800px;
	margin: 0 auto;
}

html.clearRead.lowContrast h1, html.clearRead.lowContrast h2, html.clearRead.lowContrast h3, html.clearRead.lowContrast h4, html.clearRead.lowContrast h5, html.clearRead.lowContrast h6{
	font-family: sans-serif;
	font-size: 4rem;
	background: none;
	color: white;
	text-decoration: none;
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead.lowContrast p {
	font-family: sans-serif;
	color: white;
	background: none;
	font-size: 1rem;
	text-decoration: none;
	font-style: none;
	font-weight: 400;
	line-height: 2.4;
	letter-spacing: 0;
	text-transform: none;
	margin: 1rem 0;
}

html.clearRead.lowContrast strong {
	font-family: sans-serif;
	background: none;
	font-weight: bold;
	font-style: normal;
	color: white;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead.lowContrast em {
	font-family: sans-serif;
	background: none;
	font-style: italic;
	font-weight: 400;
	color: white;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead.lowContrast span {
	font-family: sans-serif;
	background: none;
	color: white;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead.lowContrast a {
	font-family: sans-serif;
	background: none;
	color: white;
	text-decoration: underline;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead.lowContrast a:hover {
	font-family: sans-serif;
	background: none;
	color: white;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

html.clearRead.lowContrast ol, html.clearRead.lowContrast ul {
	padding: 0;
	padding-left: 2em;
	color: white;
}

html.clearRead.lowContrast ol {
	list-style-type: decimal;
	color: white;
}

html.clearRead.lowContrast ul {
	list-style-type: disc;
	color: white;
}

.clearReadClose{
	position: fixed;
	top: 20px;
	right: 100px;
}

.clearReadContrast{
	position: fixed;
	top: 20px;
	left: 20px;
}

html.lowContrast .clearReadClose{
	color: white;
}

html.lowContrast .clearReadContrast{
	color: white;
}